@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Playwrite DE Grund', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
